<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Início</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="bodyh">
        <div class="topnav">
            <a href="/paginainicial" class="nav-link" id="pagini-link" data-file="inicio.html">Início</a>
            <a href="/login" class="nav-link" id="login-link" data-file="login.html">Login</a>
            <a href="/registo" class="nav-link" id="registo-link" data-file="registo.html">Registo</a>
        </div>
        <div class="container-home">
            <!-- The content will be dynamically updated here -->
        </div>
        <script src="menusiniciais.js"></script>
    </body>
</html>