<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Início</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="bodyh">
        <div class="container-home">
            <header>
                Class Realtime Knowledge Transmission Assessment
            </header>
            <main>
                Esta aplicação foi desenvolvida no âmbito da unidade curricular de Projeto da Universidade da Beira Interior.
                <br><br>
                <p>O objetivo é fornecer quizzes que permitam a avaliação de conhecimentos de forma prática e com feedback instantâneo.</p>
            </main>
        </div>
        <script src="menusiniciais.js"></script>
    </body>
</html>