<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registo</title> 
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    </head>
    <body class="registo">
        <div class="wrapper-registo">
            <div class="title"><span>Registo</span></div>
            <form action="#">
                <div class="button-aluno">
                    <a href="/registoal"><input type="button" value="Aluno"></a> 
                </div>
                <div class="button-prof">
                    <a href="/registoprof"><input type="button" value="Professor"></a> 
                </div>
            </form>
        </div>
        <script src="menusiniciais.js"></script>
    </body>
</html>