<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultado do Aluno</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body class="resultado-aluno">
    <form class="logoutbtn" action="/logoutaluno" method="post">
      <button id="logout-button" type="submit" class="logout">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </form>
    <div class="container-resultado">
      <div class="wrapper-resultado">
        <div class="title"><span>Resultados</span></div>
        <div class="aluno-info">
          <h3>Email: <span id="aluno-email"></span></h3>
        </div>
        <div class="quizzes-results">
          <table>
            <thead>
              <tr>
                <th>Quiz</th>
                <th>Resultado</th>
                <th>Data de Criação</th>
              </tr>
            </thead>
            <tbody id="quizzes-results-body"></tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="menusiniciais.js"></script>
    <script type="module" src="resultadoAluno.js"></script>
  </body>
</html>
