<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos Resultados Quiz</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body class="resultado-aluno">
    <form class="logoutbtn" action="/logoutaluno" method="post">
      <button id="logout-button" type="submit" class="logout">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </form>
    <div class="container-resultado">
      <div class="wrapper-resultado">
        <div class="title"><span>Todos Resultados</span></div>
        <div id="quizzes-results-container"></div>
      </div>
    </div>
    <script src="menusiniciais.js"></script>
    <script type="module" src="todosResultados.js"></script>
  </body>
</html>
